body {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr 2fr;
    background-image: linear-gradient(to bottom, rgb(237, 170, 54), rgb(192, 226, 57));
    justify-items: center;
}

#containerTop {
    border: 1px solid black;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#containerDice {
    display: flex;
    gap: 10px;
}

.dice {
    width: 80px;
    height: 80px;
    cursor: pointer;
    border: 4px solid rgb(2, 255, 31);
    border-radius: 10px;
}

.dice2 {
    width: 80px;
    height: 80px;
    cursor: pointer;
    border: 4px solid rgb(249, 0, 0);
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.row {
    display: grid;
    grid-template-columns: auto 60px;
    gap: 10px;
    align-items: center;
}