body {
    margin: 0;
    display: grid;
    gap: 1px;
    background-image: linear-gradient(to bottom, rgb(209, 225, 235), rgb(115, 185, 232));
    justify-items: center;
}

#containerTop {
    border: 1px solid black;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 400px;
}

#containerBottom {
    position: relative;
    border: 1px solid black;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 400px;
}

#containerBottom p {
    margin: 5px;
}

#containerSumBonus {
    display: flex;
}

#containerDice {
    display: flex;
    gap: 10px;
}

.dice {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 4px solid rgb(89, 128, 246);
    border-radius: 10px;
}

.dice2 {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 4px solid rgb(249, 0, 0);
    border-radius: 10px;
}
 

.dice:hover {
    transform: scale(1.05);
}



button {
    padding: 10px 20px;
    font-size: 10px;
    cursor: pointer;
}

.row {
    display: grid;
    grid-template-columns: auto 50px;
    row-gap: 1px;
    align-items: center;
    margin-right: 230px;
}

#turnRoll {
    display: flex;
    align-items: center;
    gap: 20px;
}

.containerSumBonus {
    position: absolute;
    top: 20px;
    right: 20px;

    display: grid;
    grid-template-columns: auto 60px;
    row-gap: 6px;
    align-items: center;
}

#containerTotal {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: grid;
    grid-template-columns: auto 60px;
    align-items: center;
}

input[type="text"] {
    width: 50px;
    text-align: center;
}