body {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr 2fr;
    background-image: linear-gradient(to bottom, rgb(237, 170, 54), rgb(192, 226, 57));
}

#containerTop {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    margin-right: 900px;
    margin-bottom: 250px;
}

#containerBottom {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    margin-right: 900px;
}

#id-roll {
    width: 120px;
    height: 65px;
}

.row {
    display: grid;
    grid-template-columns: 1fr 50px;
    align-items: center;
    margin-right: 100px;
}